<%= render :partial => '/current_user'  %>
<h1>Admin Dashboard</h1>


<div class='homeBox'>
  <%= link_to 'Manage Studies', :controller => 'studies', :action => 'index'%>   |

  <%= link_to 'Reports', :controller => 'reports', :action => 'index' %>       |

  <%= link_to 'System Config', :controller => 'dashboard', :action => 'settings'%> |

  <%= link_to 'Data Imports', :controller => 'imports', :action => 'index'%>
</div>

<div class='adminBox'>
  <%= link_to 'Main Home', :controller => 'welcome', :action => 'index' %>

</div>