<%= image_tag 'logo_mid.png', size: '400x200',:align => 'top'  %>
<h1 class="home">Inventory Management</h1>
<center>
    <%= form_for :ad_user, url:  login_path,  html: { class: 'log_in', id: 'log_in' }  do |s|   %>
      <% if flash[:danger] %>
          <span class='danger'><%= flash[:danger] %></span>
      <% end %>

      <% if flash[:no_connection] %>
          <span class='no_connection'><%= flash[:no_connection] %></span>
      <% end %>
      <br>
        <%= s.text_field :user_name , :placeholder => 'User Name'%> <br><br>
        <%= s.password_field :password , :placeholder => 'Password' %> <br>
        <%= s.submit 'Log in' %>

    <% end %>
</center>
