<h1>Edit request for: <%= @request.reagent_name %> </h1>


<%= form_for :request, :url => { :action => 'update' }, :html => { :method => 'put' } do |r| %>
    <p>
      <%= r.label :requested_By %>
      <%= r.text_field :requested_by %>

      <%= r.label :requested_Date %>
      <%= r.date_select :requested_date  %>
    </p>

    <p>
      <%= r.label :reagent_Name %>
      <%= r.text_field :reagent_name %>

      <%= r.label :requested_Amount %>
      <%= r.text_field :requested_amount %>

    </p>
    <p>
      <%= r.label :requested_For_Study %>
      <%= r.collection_select(:requested_for_study, Study.all, :study_number, :study_number, :include_blank => 'Please select', :class=> 'required') %>
    </p>

    <p>
      <%= r.label :catalog_No %>
      <%= r.text_field :catalog_no %>  |

      <%= r.label :manufacturer %>
      <%= r.text_field :manufacturer %> <br>

      <%= r.label :supplier %>
      <%= r.text_field :supplier %> |
    </p>
    <%= r.submit %>
<% end %>

<%= link_to 'Cancel', :controller => 'requests', :action => 'index' %>