<%= render :partial => '/current_user'  %>
<h1>All Requests</h1>
<div class="scroll">
<table align="center" id="filter">
  <thead>
   <tr>
    <td><%= link_to 'Reagent Name', :controller => 'requests', :action => 'index', :order => 'reagent_name' %></td>
    <td><%= link_to 'Requested By', :controller => 'requests', :action => 'index', :order => 'requested_by' %></td>
    <td><%= link_to 'Requested For Study', :controller => 'requests', :action => 'index', :order => 'requested_for_study' %></td>
    <td><%= link_to 'Requested Amount', :controller => 'requests', :action => 'index', :order => 'requested_amount' %></td>
    <td>Request Date</td>
    <td>Request Status</td>
    <td>Last Date Updated</td>
    <td>For Lab</td>
   </tr>
  </thead>
  <tbody id="altColors">
    <% @requests.each do |request| %>
        <tr>
          <td>
            <% if request.show_receive_link?%>
                <%= link_to  request.reagent_name , :controller => 'reagents', :action => 'new', :id => request.id  %>
            <% else %>
                <%= request.reagent_name %></td>
            <% end %>
          <td><%=request.requested_by %></td>
          <td><%=request.requested_for_study %></td>
          <td><%=request.requested_amount %></td>
          <td><%=request.requested_date %></td>
          <td><%=request.status %></td>
          <td><%=request.last_update_date %></td>
          <td><%=request.for_lab %></td>
        </tr>
    <% end %>
  </tbody>
</table>
  <div class="digg_pagination" align="center">
    <div class="page_info" align="center">
      <%= page_entries_info @requests %>
    </div>
    <%= will_paginate @requests, :container => false %>
  </div>
</div>
<br>
<div class="navBox" >
    <%= link_to 'New Request', :controller => 'requests', :action => 'new'  %>  |
    <%= link_to 'Home', :controller => 'welcome', :action => 'index'  %>
</div>
