<h1>Enter Reagent Request Detail:</h1>



<%= form_for :request, url: requests_path do |r| %>

    <% if @request.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@request.errors.count, 'error') %> prohibited
            this request from being saved:</h2>
          <ul>
            <% @request.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= r.label :requested_By %>
      <%= r.text_field :requested_by, :value=> current_user.first_name.concat(' '.concat(current_user.last_name)), :readonly => true, :class => 'required' %>
      |
      <%= r.label :requested_Date %>
      <%= r.date_select :requested_date  %>
    </p>
    <p class ='required'>
      <%= r.label :kit_or_single_item? %>  <br>
      Kit: <%= r.radio_button :is_reagent_kit, 'true' %>
      Single Item: <%= r.radio_button :is_reagent_kit, 'false' %>
    </p>

    <p>
      <%= r.label :reagent_Name %>
      <%= r.text_field :reagent_name, :class => 'required' %>
      |
      <%= r.label :requested_Amount %>
      <%= r.text_field :requested_amount, :class => 'required' %>

    </p>

    <p>
      <%= r.label :requested_For_Study %>
      <%= r.collection_select(:requested_for_study, Study.all, :study_number, :study_number, :include_blank => 'Please select', :class=> 'required') %>
    </p>

    <p>
      <%= r.label :catalog_No %>
      <%= r.text_field :catalog_no %>  |

      <%= r.label :manufacturer %>
      <%= r.text_field :manufacturer %> <br>

      <%= r.label :supplier %>
      <%= r.text_field :supplier %> |
    </p>

        <%= r.submit %>
<% end %>
<br>
<div class="navBox">
  <%= link_to 'Reagent Requests', :controller => 'requests', :action => 'index'%>   |
  <%= link_to 'Home', :controller => 'welcome', :action => 'index'  %>
</div>