<%= render :partial => '/current_user'  %>
<h1>All orders</h1>
<div class="scroll">
<table align="center" id='filter'>
  <thead>
   <tr>
    <td>Order Number</td>
    <td>Supplier</td>
    <td>Order Date</td>
    <td>View Form</td>
   </tr>
  </thead>
  <tbody id="altColors">
    <% @orders.each do |order| %>
          <tr>
            <td><%= order.order_no %></td>
            <td><%= order.supplier %></td>
            <td><%= order.ordered_date %></td>
            <td><%= link_to 'Order Form', :controller => 'orders', :action => 'show', :id => order.id %></td>
          </tr>
    <% end %>
  </tbody>
</table>
  <br>

</div>
<div class='navBox'>
  <%= link_to 'New Order', :controller => 'orders', :action => 'new' %>
</div>
<br>
<div class='navBox'>
  <%= link_to 'Reagent Requests', :controller => 'requests', :action => 'index'%>   |
  <%= link_to 'Home', :controller => 'welcome', :action => 'index'  %> |
  <%= link_to 'Stored Reagents', :controller => 'reagents', :action => 'index' %>
</div>
