<h1>Place Order for Reagent Request <%= @request.reagent_name %></h1>


  <pre>
    <strong>Requested By:</strong> <%= @request.requested_by %> <br>
    <strong>Reagent Name:</strong>  <%= @request.reagent_name %> <br>
    <strong>Requested Date: </strong><%= @request.requested_date  %><br>
    <strong>Requested_Amount: </strong><%= @request.requested_amount %> Units<br>
    <strong>Requested For Study:  </strong><%= @request.requested_for_study %> <br>
  </pre>

<%= form_for :order, url: orders_path do |o| %>

    <% if @order.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@order.errors.count, 'error') %> prohibited
            this request from being saved:</h2>
          <ul>
            <% @order.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= o.label :order_No %>
      <%= o.text_field :order_no, :class => "required"  %>  |
      <%= o.label :ordered_Date %>
      <%= o.date_select :ordered_date, :class => "required" %>
    </p>

    <p>
      <%= o.label :ordered_Amount %>
      <%= o.text_field :ordered_amount, :class => "required" %> |
      <strong>Requested_Amount: </strong><%= @request.requested_amount %> Units<br>
    </p>

    <p>
      <%= o.label :catalog_No %>
      <% if @request.catalog_no.blank? %>
        <%= o.text_field :catalog_no %>
      <% else %>
        : <%= @request.catalog_no %>
      <% end %>

      &nbsp;&nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;&nbsp;

        <%= o.label :manufacturer %>
      <% if @request.manufacturer.blank? %>
        <%= o.text_field :manufacturer %>
      <% else %>
        : <%= @request.manufacturer %>
      <% end %>
      &nbsp;&nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;&nbsp;
        <%= o.label :supplier %>
      <% if @request.supplier.blank? %>
        <%= o.text_field :supplier %>
      <% else %>
       :  <%= @request.supplier %>
      <% end %>
    </p>
    <p>
      <%= o.label :order_Cost %>
      R <%= o.text_field :catalog_amount, :class => 'required' %> |

    </p>



        <%= hidden_field_tag 'request_id', @request.id %>
      <%= o.submit %>
<% end %>

<br>
<div class='navBox'>
  <%= link_to 'Reagent Requests', :controller => 'requests', :action => 'index'%>   |
  <%= link_to 'Home', :controller => 'welcome', :action => 'index'  %>
</div>
