<h1><%= @request.reagent_name %> Order Summary </h1>

<p>
  Order Number: <%= @order.order_no %>

</p>

<p>
  Catalog Number: <%= @order.catalog_no %>   |

  Ordered Amount: <%= @order.ordered_amount %> |

  Unit Price: R <%= @order.unit_price %> | Total: R <%=  "#{@order.unit_price * @order.ordered_amount}" %>

</p>

<p>
  Ordered Date: <%= @order.ordered_date %>
</p>

<p>
  Manufacturer: <%= @order.manufacturer %>
  Supplier: <%= @order.supplier %>

  Request ID: <%= @order.request_id%>
</p>

<p>
  <%= link_to 'Home', :controller => 'welcome', :action => 'index' %>
  <%= link_to 'View All Orders', :controller => 'orders', :action => 'index' %>
</p>