<%= render :partial => '/current_user'  %>
<h2>All Studies in Logs</h2>

<table align="center" id="filter">
  <thead>
  <tr>
  <td>Study ID</td>
  <td>Study Number</td>
  <td>Study Description</td>
  <td>Study Start Date</td>
  <td>Study End Date</td>
  <td></td>
  </tr>
  </thead>
  <tbody id="altColors">
  <% @studies.each do |study| %>
      <tr>
        <td><%= study.id %></td>
        <td><%= study.study_number %></td>
        <td><%= study.study_name %></td>
        <td><%= study.study_start_date %></td>
        <td><%= study.study_end_date %></td>
        <td><%= link_to 'edit', :controller=> 'studies', :action=> 'edit', :id => study.id %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="navBox">
  <%= link_to 'Add Study', :controller => 'studies', :action => 'new'  %>  |
  <%= link_to 'Front Desk', :controller => 'dashboard', :action => 'index'  %>
</div>