<h1>IT WORKS!!!</h1>
<%= @parent_data.inspect %>
<%= form_for :audit, url: {:controller => 'audits', :action => 'create'}   do |aud| %>
    <p>
      <%= aud.label :changed_by %>
      <%= aud.text_field :changed_by, :value => current_user_full_name %>
        &nbsp;
      <%= aud.label :date_changed %>
      <%= aud.date_select :date_changed, :value => Date.today %>
    </p>
<% if false == true %>
    <p>
      <%= aud.label :approved_by %>
      <%= aud.text_field :approved_by %>
      &nbsp;
      <%= aud.label :date_approved %>
      <%= aud.date_select :date_approved, :value => Date.today %>
    </p>
<% end %>
    <div>
      <%= aud.label :reason_for_change %> <br>
      <%= aud.text_area :reason_for_change, :cols => 40, :rows=> 10%>
    </div>
    <%= hidden_field_tag(:parent_data, @parent_data ) %>



    <%= aud.submit %>


<% end %>
