<%= render :partial => '/current_user'  %>
<h1>Reagents in Storage</h1>
<table align='center' id='filter'>
  <thead>
    <tr>
      <td>Reagent Name</td>
      <td>Item Lot No</td>
      <td>Item Cat No</td>
      <td>Amount Delivered</td>
      <td>Amount Left</td>
      <td>Kit/Item Log</td>
      <td>Received Date</td>
      <td>Expiration Date</td>
      <td>Storage Location</td>
    </tr>
  </thead>
  <tbody id="altColors">
  <% @reagents.each do |rea| %>
      <tr>
        <td> <%= rea.request.reagent_name%> </td>
        <td> <%=rea.reagent.item_lot_no%> </td>
        <td> <%=rea.reagent.item_cat_no%> </td>
        <td> <%=rea.reagent.delivered_amount%> </td>
        <td> <%=rea.reagent.amount_left%> </td>
        <% if rea.request.is_reagent_kit %>
            <td> <%= link_to 'Kit', :controller => 'kit_items', :action => 'index', :reagent_id => rea.reagent.id %> </td>
        <% else %>
            <td><%= link_to 'Item', :controller => 'logs', :action => 'index', :reagent_id => rea.reagent.id %></td>
        <% end %>
        <td> <%=rea.reagent.received_date%> </td>
        <td> <%=rea.reagent.expiration_date%> </td>
        <td> <%=rea.reagent.storage_location%> </td>
      </tr>

  <% end %>
  </tbody>
</table>

<br>
<div class="navBox">
  <%= link_to 'Reagent Requests', :controller => 'requests', :action => 'index'%>   |
  <%= link_to 'Reagent Orders', :controller => 'orders', :action => 'index' %>  |
  <%= link_to 'Home', :controller => 'welcome', :action => 'index'  %>
</div>
