<%= render :partial => '/current_user'  %>
<h1>Reagents in Storage</h1>
<div class="scroll">
<table align='center' id='filter'>
  <thead>
    <tr>
      <td>Reagent Name</td>
      <td>Item Lot No</td>
      <td>Item Cat No</td>
      <td>Amount Delivered</td>
      <td>Amount Left</td>
      <td>Kit/Item Log</td>
      <td>Received Date</td>
      <td>Expiration Date</td>
      <td>Storage Location</td>
    </tr>
  </thead>
  <tbody id="altColors">
  <% @reagents.each do |rea| %>
      <% if rea.about_to_expire? %>
         <tr id='warn'>
      <% elsif rea.expired?  %>
          <tr id='danger'>
      <% else %>
         <tr>
      <% end %>
        <td> <%= rea.request_reagent_name%> </td>
        <td> <%=rea.item_lot_no%> </td>
        <td> <%=rea.item_cat_no%> </td>
        <td> <%=rea.delivered_amount%> </td>
        <td> <%=rea.amount_left%> </td>
        <% if rea.request_is_reagent_kit %>
            <td> <%= link_to 'Kit', :controller => 'kit_items', :action => 'index', :reagent_id => rea.id %> </td>
        <% else %>
            <td><%= link_to 'Item', :controller => 'logs', :action => 'index', :reagent_id => rea.id %></td>
        <% end %>
        <td> <%=rea.received_date%> </td>
        <td> <%=rea.expiration_date%> </td>
        <td> <%=rea.storage_location%> </td>
      </tr>

  <% end %>
  </tbody>
</table>
</div>
<br>
<div class="navBox">
  <%= link_to 'Reagent Requests', :controller => 'requests', :action => 'index'%>   |
  <%= link_to 'Reagent Orders', :controller => 'orders', :action => 'index' %>  |
  <%= link_to 'Home', :controller => 'welcome', :action => 'index'  %>
</div>
