<h1>Delivery Log for <%= @request.reagent_name %></h1>

<p>
  <strong>Requested By:</strong> <%= @request.requested_by %>    <strong>Order Number: </strong> <%= @order.order_no %><br>
  <strong>Requested Date:</strong> <%= @request.requested_date  %>    <strong>Ordered Date: </strong> <%= @order.ordered_date %> <br>
</p>

<p>
  <strong>Reagent Name:</strong>  <%= @request.reagent_name %> <br>
  <strong>Requested_Amount:</strong> <%= @request.requested_amount %>
</p>

<p>
  <strong>Requested For Study:</strong>  <%= @request.requested_for_study %> <br>
</p>

<%= form_for :reagent, url: reagents_path do |r| %>
    <% if @reagent.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@reagent.errors.count, 'error') %> prohibited
            this reagent from being saved:
          </h2>
          <ul>
            <% @reagent.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
   <p>
     <%= r.label :received_Date %>
     <%= r.date_select :received_date %>

      <%= r.label :expiration_Date %>
      <%= r.date_select :expiration_date %>
    </p>

    <p>
      <%= r.label :lot_Number %>
      <%= r.text_field :item_lot_no %>

      <%= r.label :cat_Number %>
      <%= r.text_field :item_cat_no, :value => @order.catalog_no %>
    </p>

    <p>
      <%= r.label :storage_Temp %>
      <%= r.text_field :storage_temp_kit %> &deg;<strong>C</strong>

      <%= r.label :storage_Location %>
      <%= r.text_field :storage_location, :class => "required" %>
    </p>

    <p>
      <%= r.label :delivered_Amount %>
      <%= r.text_field :delivered_amount %>    |
      <strong>Requested_Amount: </strong><%= @request.requested_amount %> Units<br>
    </p>
         <%= hidden_field_tag 'order_id', @order.id %>
         <%= r.submit %>
<% end %>