

<table>
  <thead>
  <tr>
    <td>Number</td>
    <td>Item Lot No</td>
    <td>Date Received</td>
    <td>Expiry Date</td>
    <td>Date Opened</td>
    <td>Opened By: </td>
    <td>For Study: </td>
    <td></td>
  </tr>
  </thead>
  <tbody>
    <%= form_for :log, url: reagent_logs_path do |l| %>
      <% if @log.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@log.errors.count, 'error') %> prohibited
              this request from being saved:</h2>
            <ul>
              <% @log.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <tr>
        <td><%= l.text_field :number, value: '1' %></td>
        <td><%= l.text_field :item_lot_no, value: @reagent.item_lot_no, :readonly=> true %></td>
        <td><%= l.text_field :received_date, value: @reagent.received_date , :readonly=> true %></td>
        <td><%= l.text_field :expiration_date, value: @reagent.expiration_date , :readonly=> true%></td>
        <td><%= l.date_select :opened_date%></td>
        <td><%= l.text_field  :opened_by,
                                 :value=> current_user.first_name.concat(' '.concat(current_user.last_name)), :readonly => true %>
        </td>
        <td>
            <%= l.collection_select(:for_study, Study.all, :study_number, :study_number,
                                    :include_blank => 'Please select', :class=> 'required') %>
        </td>
        <%= hidden_field_tag 'reagent_id', @reagent.id %>

        <td><%= l.submit %></td>
      </tr>

    <% end %>
  </tbody>
</table>