
<%= form_for :manifest, url: {:controller => 'reports', :action => 'index'}, method: :get do |f|  %>
    <p>Select your study from the list: </p>
    <%= f.collection_select(:id, Study.all, :id, :study_name) %>
    <%= hidden_field_tag 'goto', 'manifest' %>
        <%= f.submit('Get Manifest') %>

<% end %>

<div class='report'>

  <%= render :partial => @report %>

</div>