<h2>Full report For: <%= @object.study.study_name %></h2>

<h3> All Reagents requested For Study</h3>
<% if @object.requests.count > 0 %>
    <table align="center" id="filter">
      <thead>
      <tr>
        <td>Reagent Name</td>
        <td>Requested By</td>
        <td>Requested Amount</td>
        <td>Request Date</td>
        <td>Request Status</td>
      </tr>
      </thead>
      <tbody id="altColors">
      <% @object.requests.each do |request| %>
          <tr>
            <td><%= request.reagent_name %></td>
            <td><%=request.requested_by %></td>
            <td><%=request.requested_amount %></td>
            <td><%=request.requested_date %></td>
            <td><%=request.status %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <% else %>
    <p>No request data for study</p>
<%end %>
<br>
<h3> All Reagents Ordered For Study</h3>
<% if @object.orders.count > 0 %>
    <table align="center" id="filter1">
      <thead>
      <tr>
        <td>Ordered amount</td>
        <td>Order Date</td>
        <td>Order Status</td>
        <td>Order Number</td>
        <td>Catalog Number</td>
        <td>Manufacturer</td>
        <td>Supplier</td>
      </tr>
      </thead>
      <tbody id="altColors1">
      <% @object.orders.each do |order| %>
          <tr>
            <td><%=order.ordered_amount %></td>
            <td><%=order.ordered_date %></td>
            <td><%=order.status %></td>
            <td><%=order.order_no %></td>
            <td><%=order.catalog_no %></td>
            <td><%=order.manufacturer %></td>
            <td><%=order.supplier %></td>
          </tr>
      <% end %>
      </tbody>
      <tfoot>
        <tr ><td colspan="7" align="right"> Total Cost of Orders: R <%= @object.order_cost %> </td></tr>
      </tfoot>
    </table>
    <%= link_to 'Export',  :controller => 'reports' , :action => 'show' , :id => @id%>
<% else %>
    <p> No order data for study</p>
<% end %>
