<%= render :partial => '/current_user'  %>
<h2>Reports Page</h2>

<%= form_for :study, url: {:controller => 'reports', :action => 'create'}, method: :post do |f|  %>
    <p>Select your study from the list: </p>
    <%= f.collection_select(:id, Study.all, :id, :study_number, {:prompt => 'All'}) %>
    <p><%= check_box('table', 'selection', {:multiple => true}, 'Reagents', nil) %>Reagents|
      <%= date_select 'reagents', 'reagents ' %> Received Date
    </p>
    <%= f.submit('Export Data') %>

<% end %>

<div class="navBox">
  <%= link_to 'Front Desk', :controller => 'dashboard', :action => 'index'  %>
</div>

