<h2>Reports Page</h2>

<%= form_for :manifest, url: {:controller => 'reports', :action => 'create'}, method: :post do |f|  %>
    <p>Select your study from the list: </p>
    <%= f.collection_select(:id, Study.all, :id, :study_name) %>
    <%= hidden_field_tag 'goto', 'manifest' %>
    <p>Select The table(s) to show: </p>
    <p><%= check_box('table', 'selection', {:multiple => true}, 'Requests', nil) %>Request</p>
    <p><%= check_box('table', 'selection', {:multiple => true}, 'Orders', nil) %>Orders</p>
    <p><%= check_box('table', 'selection', {:multiple => true}, 'Reagents', nil) %>Reagents</p>
    <%= f.submit('Get Manifest') %>

<% end %>

<div class="navBox">
  <%= link_to 'Front Desk', :controller => 'dashboard', :action => 'index'  %>
</div>

