<h2>Generated report For: <%= @object.study.study_name %></h2>


<% if @object.requests.count > 0 and @object.show_tables.include?('Requests') %>
    <h3> All Reagents requested For Study</h3>
    <table align='center' id='filter'>
      <thead>
      <tr>
        <td>Reagent Name</td>
        <td>Requested By</td>
        <td>Requested Amount</td>
        <td>Request Date</td>
        <td>Request Status</td>
      </tr>
      </thead>
      <tbody id='altColors'>
      <% @object.requests.each do |request| %>
          <tr>
            <td><%= request.reagent_name %></td>
            <td><%=request.requested_by %></td>
            <td><%=request.requested_amount %></td>
            <td><%=request.requested_date %></td>
            <td><%=request.status %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% else %>
    <p>No request data for study</p>
<%end %>
<br>

<% if @object.orders.count > 0 and @object.show_tables.include?('Orders') %>
    <h3> All Reagents Ordered For Study</h3>
    <table align='center' id='filter1'>
      <thead>
      <tr>
        <td>Ordered amount</td>
        <td>Order Date</td>
        <td>Order Status</td>
        <td>Order Number</td>
        <td>Catalog Number</td>
        <td>Manufacturer</td>
        <td>Supplier</td>
      </tr>
      </thead>
      <tbody id='altColors1'>
      <% @object.orders.each do |order| %>
          <tr>
            <td><%=order.ordered_amount %></td>
            <td><%=order.ordered_date %></td>
            <td><%=order.status %></td>
            <td><%=order.order_no %></td>
            <td><%=order.catalog_no %></td>
            <td><%=order.manufacturer %></td>
            <td><%=order.supplier %></td>
          </tr>
      <% end %>
      </tbody>
      <tfoot>
      <tr ><td colspan='7' align='right'> Total Cost of Orders: R <%= @object.order_cost %> </td></tr>
      </tfoot>
    </table>
<% else %>
    <p> No order data for study</p>
<% end %>
<br>
<% if @object.reagents.count > 0 and @object.show_tables.include?('Reagents') %>
    <h3> All Stored Reagents For Study</h3>
    <table align='center' id='filter2'>
      <thead>
      <tr>
        <td>Reagent Name</td>
        <td>Item Lot No</td>
        <td>Item Cat No</td>
        <td>Amount Delivered</td>
        <td>Amount Left</td>
        <td>Received Date</td>
        <td>Expiration Date</td>
        <td>Storage Location</td>
      </tr>
      </thead>
      <tbody id='altColors2'>
      <% @object.reagents.each do |rea| %>
          <tr>
            <td> <%= rea.order.request_reagent_name%> </td>
            <td> <%=rea.item_lot_no%> </td>
            <td> <%=rea.item_cat_no%> </td>
            <td> <%=rea.delivered_amount%> </td>
            <td> <%=rea.amount_left%> </td>
            <td> <%=rea.received_date%> </td>
            <td> <%=rea.expiration_date%> </td>
            <td> <%=rea.storage_location%> </td>
          </tr>

      <% end %>
      </tbody>
    </table>
<% end %>

<%= link_to 'Export All', download_report_path(format: 'csv') %>
